%html
  %head
  %body
    %center
      %H1 クイズゲーム00
      %p 問1：1+1＝?
      %form{:action => "/quiz",:method => "post"}
        %input{:type => "text",:name => "quiz"}
        %input{:type => "submit"}
